
/*header*/
.header__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header__logo {
  align-self: center;
}
.header__city {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 150, 220, 255);
  align-self: center;
  width: 250px;
}
.header__call {
  height: 60px;
  width: 170px;
  display: flex;
  justify-content: space-around;
  color: rgba(85, 168, 49 ,255);
  border: 2px solid rgba(85, 168, 49 ,255);
  border-radius: 5%;
  background-color: #fff;
}
.header__call img {
  margin-left: 20px;
  align-self: center;
}
.header__call span {
  display: block;
  font-size: 18px;
  align-self: center;
}
 
.header__time {
  align-items: center;
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.header__time img {
  width: 30px;
  height: 30px;
}
.header__time--timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(119,119,119,255);
}
.header__time--timer p {
  margin-bottom: 5px;
}
.header__phone {
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.header__phone img{
  width: 17px;
  height: 17px;
  align-self: flex-start;
  margin-top: 10px;
}
.header__phone--anchor {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.header__phone--anchor {
  font-size: 14px;
  margin-bottom: 5px;
}
.header__phone--anchor--blue {
 color: rgba(0, 150, 220, 255);
}
.header__phone--anchor--black {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(51,51,51,255);
  text-decoration: none;
}
/*Main*/
.main {
  height: 640px;
  background: url(img/main/picture2.png) no-repeat;
}
.main__row {
  height: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__heading > h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 35px;
  color: rgba(51,51,51,255);
}
.main__price {
  font-size: 45px;
  font-weight: 700;
  color: rgba(51,51,51,255);
}
.main__advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.main__features {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 110px;
  background-color: rgba(0, 150, 220, 255);
  border-radius: 50%;
  margin-right: 15px;
}
.main__features--img {
display: inline-block;
vertical-align: bottom;
position: absolute;
top: -7px;
}
.main__feature {
  display: block;
  width: 70px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.main__features--img-big {
  position: absolute;
  top: -20px;
}
/*Form*/
.main__form {
  width: 370px;
  height: 440px;
  background-color: #fff;
  border-radius: 5%;
  padding: 40px 50px;
}
.main__form p {
  text-align: center;
  color: rgba(209,209,209,255);
}
.main__heading {
  font-size: 18px;
  text-align: center;
  color: rgba(51,51,51,255);
}
.main__heading span {
display: block;
text-transform: uppercase;
font-weight: 700;
margin-top: 15px;
margin-bottom: 40px;
}
input[type=text] {
width: 268px;
height: 60px;
font-size: 16px;
text-align: center;
border: 2px solid rgba(209,209,209,255);
border-radius: 6%;
margin-bottom: 20px;
}
input[type=phone] {
width: 268px;
height: 60px;
font-size: 16px;
text-align: center;
border: 2px solid rgba(209,209,209,255);
border-radius: 6%;
margin-bottom: 20px;
}
.main__button {
width: 268px;
height: 60px;
font-size: 16px;
text-align: center;
border-radius: 6%;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: 700;
}

/*Selection glazing*/
.selection {
  margin-top: 80px;
  margin-bottom: 100px;
}

.selection__caption {
  display: block;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 110px;
}
.selection__caption::after {
  content: "";
  display: block;
  width: 1200px;
  height: 2px;
  background-image: url(img/glazing/line.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}
.selection__row {
  display: flex;
  justify-content: space-around;
}
.selection__glazing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection__glazing img {
display: block;
margin-bottom: 30px;
}
.selection__glazing a {
  width: 130px;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 150, 220, 255);
  margin-bottom: 60px;
}
/*Choice warm and cold*/
.selection__choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection__cold {
  background: rgb(232,244,252);
  background: linear-gradient(180deg, rgba(232,244,252,1) 25%, rgba(255,255,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selection__cold h2::before {
  display: inline-block;
  margin-bottom: 30px;
  content: "";
  width: 585px;
  height: 10px;
  background-image: url(img/glazing/warmcold/line_cold.png);
  background-repeat: no-repeat;
  background-position: left;
}
.selection__cold h2 {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 150, 220, 255);
}

.selection__cold ul {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}
.selection__cold ul li::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(img/glazing/warmcold/check.png);
  background-repeat: no-repeat;
  left: -50px;
  top: -5px;
}
.selection__cold ul li {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.selection__warm {
  display: flex;
  background: rgb(255,248,231);
  background: linear-gradient(180deg, rgba(255, 248, 231, 1) 25%, rgba(255,255,255,1) 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selection__warm h2::before {
  display: inline-block;
  margin-bottom: 30px;
  content: "";
  width: 585px;
  height: 10px;
  background-image: url(img/glazing/warmcold/warmLine.png);
  background-repeat: no-repeat;
  background-position: left;
}
.selection__warm h2 {
  display: block;
  margin-bottom: 30px;
   text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 185, 3, 255);
}
.selection__warm ul {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}
.selection__warm ul li::before {
  position: absolute;
content: "";
width: 30px;
height: 30px;
background-image: url(img/glazing/warmcold/check.png);
background-repeat: no-repeat;
left: -50px;
top: -5px;
}
.selection__warm ul li {
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.selection__wrapper {
display: flex;
justify-content: space-between;
}
.selection__price {
font-size: 16px;
font-weight: 700;
}
.selection__price p:nth-child(2) {
font-weight: normal;
font-size: 14px;
margin-top: 20px;
}
.selection__btn {
width: 260px;
height: 63px;
text-transform: uppercase;
font-size: 14px;
font-weight: 700;
background-color: rgb(232,232,232);
border-radius: 5%;
margin-left: 40px;
}
/*Show/hide variable window*/
.selection__parent {
  position: relative;
}
.selection__aluminium {
  position: absolute;
  display: none;
}
.selection__plastic {
   position: absolute;
   display: none;
}
.selection__french {
   position: absolute;
   display: none;
}
.selection__rise {
   position: absolute;
   display: none;
}

/*Decoration*/
.decoration {
  padding-top: 80px;
  position: relative;
  background-color: rgb(247,247,247);
}
.decoration__line {
  position: absolute;
}
.decoration__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.decoration__wrapper a {
  display: block;
  margin-top: 30px;
  color: rgb(66,66,66);
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
   margin-bottom: 130px;
}
.decoration__row {
  display: flex;
  justify-content: space-between;
}

.decoration__trim {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.decoration__option {
 margin-right: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.decoration__option img {
  display: block;
  width: 70px;
  height: 70px;
  align-self: center;
  margin-bottom: 15px;
}
.decoration__option h3 {
  display: block;
  width: 90px;
  font-weight: 700;
  text-align: center;
  flex-basis: 30px;
  flex-grow: 1;
}
.decoration__price {
  color: rgb(13,143,227);
  font-weight: 700;
}
.decoration__material {
  font-size: 12px;
}